{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_edit'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}

    {% include 'default/_form.html.twig' with {
        page_title: 'title_post_edit',
        page_title_param: {'%id%': post.id},
        attr: {
            method: 'PUT',
            action: url('post_edit', {'id': post.id}),
        },
        form: form,
        back_to_list_path: 'post_index',
    } %}


    <h1>{{ 'title_post_edit'|trans({'%id%': post.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('post_edit', {id: post.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('post_index') }}" class="btn btn-link">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}