{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_list'|trans }}
{% endblock %}

{% block body %}
    <section class="jumbotron text-center" style="background-image: url('{{ asset('uploads/avatars/F1000025.JPG')}}');background-size: cover; height: 500px;">
        <div class="container">
            <h1 class="jumbotron-heading">{{ 'welcome_jumbotron'|trans }}</h1>
            <p class="lead text-muted">{{ 'text_jumbotron'|trans }}</p>
{#            <p>#}
{#                <a href="#" class="btn btn-primary my-2">Main call to action</a>#}
{#                <a href="#" class="btn btn-secondary my-2">Secondary action</a>#}
{#            </p>#}
        </div>
    </section>
<div class="album py-5 bg-light">
    {% if pagination is defined and pagination.items|length %}
        <div class="dropdown" style="margin: 8px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'category_label'|trans }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url('post_index')}}" >
                    {{ 'category_all'|trans }}
                </a>
                {% for item in category %}
                    <a class="dropdown-item" href="{{ url('post_index', {'item.id' : item.id}) }}" title="{{ item.title }}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="container">

        <div class="row">
            {% for post in pagination.items %}
            <div class="col-md-4">

                <div class="card mb-4 box-shadow">
                    {% if post.image is defined and post.image|length %}
                        <img class="card-img-top" src="{{ asset('uploads/avatars/'~ post.image) }}">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('uploads/post_images/church.jpeg') }}">
                    {% endif %}
                        {#                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">#}
{#                    <h1>{{ post.image }}</h1>#}

                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
{#                        <p class="card-text">{{ post.comment }}</p>#}
                        <small class="text-muted">{{ post.updatedAt|date("m/d/Y") }}</small>
                        <small class="text-muted">{{ 'category_label'|trans }}:
                            <a href="{{ url('post_index', {'filters.category_id' : post.category.id}) }}" title="{{ post.category.title }}">
                                {{ post.category.title }}
                            </a>
                        </small>
                        <small class="text-muted">{{ 'tags_label'|trans }}:
                        {% if post.tags is defined and post.tags|length %}
                            {% for tag in post.tags %}
                                <a href="{{ url('post_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                        </small>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if is_granted('VIEW', post) %}
                                    <a href="{{ url('post_show', {id: post.id}) }}" title="{{ 'action_view'|trans }}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" style="margin: 4px;">
                                        {{ 'action_view'|trans }}
                                        </button>
                                    </a>
                                {% endif %}
                                {% if is_granted('EDIT', post) %}
                                    <a href="{{ url('post_edit', {id: post.id}) }}" title="{{ 'action_edit'|trans }}" style="margin: 4px;">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                        {{ 'action_edit'|trans }}
                                        </button>
                                    </a>
                                {% endif %}
                                {% if is_granted('DELETE', post) %}
                                    <a href="{{ url('post_delete', {id: post.id}) }}" title="{{ 'action_delete'|trans }}" style="margin: 4px;">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                        {{ 'action_delete'|trans }}
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
</div>
{% endblock %}