{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_details'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    {% if post is defined and post|length %}
    {% if post.image is defined and post.image|length %}
        <div class="jumbotron" style="background-image: url('{{ asset('uploads/avatars/'~ post.image)}}');background-size: cover;">
        <div class="container">
            <h1 class="display-3" style=""><mark>{{ post.title }}</mark></h1>
        </div>
    </div>
    {% else %}
        <div class="jumbotron" style="background-image: url('{{ asset('uploads/post_images/church.jpeg') }}');background-size: cover;">
        <div class="container">
            <h1 class="display-3"><mark>{{ post.title }}</mark></h1>
        </div>
        </div>
    {% endif %}

    <div class="container">
        <!-- Example row of columns -->
        <p>{{ post.comment|markdown_to_html }}</p>
        </div>

        <hr>

    </div>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}

    {% include 'default/_form.html.twig' with {
        page_title: 'title_comment_create',
        attr: {
            method: 'POST',
            action: url('post_show',{id:post.id})
        },
        form: form,
        submit_label: 'comment_add'|trans,
    } %}

    {% if comments is defined and comments|length %}
        <div style="padding: 16px">
    {% for comment in comments %}
{#        <p>{{ comment.user_id_id }}</p>#}
        {% if comment.userId.avatar.filename is defined and comment.userId.avatar.filename|length %}
            <div class = "nav-profile-img" style="width: 50px; height: 50px">
        <img class="img-thumbnail" src="{{ asset('uploads/avatars/'~ comment.userId.avatar.filename) }}">
            </div>
        {% else %}
            <div class = "nav-profile-img" style="width: 50px; height: 50px">
        <img class="img-thumbnail" src="{{ asset('uploads/avatars/avatarPlaceHolder.jpg') }}">
            </div>
        {% endif %}
            <p><b>{{ comment.userId.nickname }}</b></p>
        <p><small>{{ comment.createdAt|date("m/d/Y") }}</small></p>
        <p>{{ comment.content }}</p>

    {% endfor %}
        </div>
    {% else %}
    <p>
        {{ 'message_item_not_found'|trans }}
    </p>
    {% endif %}

{% endblock %}