{% extends 'base.html.twig' %}

{% block body %}


        <div class="user-container">
            <i class="fas fa-user-edit fa-5x"></i>
        </div>

        <hr />

        {{ form_start(form) }}
{#        {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}#}
{#        {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}#}
{#        {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}#}

        <div class="register-btn-container">
            <button class="btn btn-danger" id="return-to-dash-btn" type="button">Cancel!</button>
            <button class="btn btn-primary" type="submit">Update!</button>
        </div>
        {{ form_end(form) }}


{% endblock %}