{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'user_details'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'user_id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'user_roles'|trans }}</dt>
            <dd>{{ user.roles|join }}</dd>
            <dt>{{ 'user_email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
        </dl>
        <p>
            <a href="{{ url('admin_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}