{% extends 'base.html.twig' %}


{% block body %}
        <div class="starter-template" style="padding: 3rem 1.5rem;text-align: center;">
            {% if user.avatar.filename is defined and user.avatar.filename|length %}
                <div class = "nav-profile-img">
                    <img class="nav-profile-img avatar-img" src="{{ asset('uploads/avatars/'~ user.avatar.filename) }}">
                </div>
            {% else %}
                <div class = "nav-profile-img">
                    <img class="nav-profile-img avatar-img" src="{{ asset('uploads/avatars/avatarPlaceHolder.jpg') }}">
                </div>
            {% endif %}
            <h1>{{ user.nickname }}</h1>
            <h2>{{ user.email }}</h2>
            <h2>{{ 'user_roles'|trans }}</h2>
            <h2>{{ user.roles|join|trans }}</h2>
            <a href="{{ url('admin_user_edit', {id: user.id}) }}" title="{{ 'user_edit'|trans }}">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    {{ 'user_edit'|trans }}
                </button>
            </a>
            <a href="{{ url('admin_index') }}" title="{{ 'action_back_to_list'|trans }}">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    {{ 'action_back_to_list'|trans }}
                </button>
            </a>
        </div>

{% endblock %}